.title {
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
  }
  
  .scoreSummary {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    
  
  
  }
  
.card-header{
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  color: white;
  
}
      
    
  
  /* .row {
    margin: 30px; 
  } */

  .wrapper{
    background-image: url("https://image.redbull.com/rbcom/010/2016-05-17/1331795283494_8/0010/1/1500/1000/1/max-verstappen-racing-his-red-bull-racing-rb12-to-victory-at-the-2016-spanish-formula-one-gp.jpg") 
    
  }
  
  
  
  
  
    
  



    /* background-color: brown; */



  